<!--.flexbox-containers{
    display: flex;   
    justify-content: center;
    flex-direction: column; 
    flex-wrap: wrap;
}-->

.flexbox-item{
    margin-top: 0%;
    width: 100%;
    border: none;
    flex-wrap: wrap;
    
}


.flexbox-item-1{
   
    margin-top: 0%;
    height: 34px;
    flex-shrink: 0;
    flex-grow: 1;
    background-color: #eeeeee;
}
.banner{
    text-align: center;
}



.flexbox-item-2{
    
    height: 40px;
    margin-top: 0%;
    margin-right: 30px;
    background-color: #ffffff;
}
.topNavigation{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.StoreLocator{
    text-align: center;
}
.WishList{
    text-align: center;
}
.GiftCard{
    text-align: center;
}
.GetHelp{
    text-align: center;
}
.USA{
    text-align: center;
}



.flexbox-item-3{
    height: 50px;
    margin-top: 0%;
    margin-right: 10px;
    background-color: #dfdfdf;
}
.desktopNavigation{
    display: flex;
    margin-right: 10px;
    justify-content: space-between; 
    font-weight: 500;
    font-size: medium;
}
.logo {
    width: 10%;
    height: 10%;
    z-index: 1;
}


.flexbox-item-4{
    height: 200px;
    margin-top: 0%;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.category{
    display: flex;
    justify-content: space-between;
    
}
.text-category{
    font-weight: 200px;
}
.region{
    text-align: left;
    width: 100px;
    background-color: #dfdfdf;
}

.list{
    text-align: center;
    flex-grow: 2;
    background-color: #ffffff;
}
.row{
    justify-content: start;
    margin-left: 10px;
    height: 20px;
    margin-top: 0%;
}


.tile-tiem{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    
}

.tile-1{ 
    text-align: left;
    background-color: #c8c8c8;
    width: 400px;
}
.tile-2{ 
    text-align: left;
    background-color: #c8c8c8;
    width: 400px;
}
.tile-3{ 
    text-align: left;
    background-color: #c8c8c8;
    width: 400px;
}
.tile-4{ 
    text-align: left;
    background-color: #c8c8c8;
    width: 400px;
}
.tile-5{ 
    text-align: left;
    background-color: #c8c8c8;
    width: 400px;
}
.tile-6{ 
    text-align: left;
    background-color: #c8c8c8;
    width: 400px;
}
.tile-7{ 
    text-align: left;
    background-color: #c8c8c8;
    width: 400px;
}
.tile-8{ 
    text-align: left;
    background-color: #c8c8c8;
    width: 400px;
}

img{
    z-index: 1;
}